{% extends 'base.html.twig' %}

{% block title %}Territoires{% endblock %}

{% block body %}
    <h1>Territoires</h1>
    <div class="container-card">
        {% for family_kingdom in family_kingdoms %}
            <div class="card">
                <img style="height: 50vh;width : 100%; margin-top:0rem;" src="{{ family_kingdom.picture}}" alt="">
                <div class="card-body">
                    <h1 class="card-title">{{ family_kingdom.name }}</h1><a class="more" href="{{ path('family_kingdom_show', {'id': family_kingdom.id}) }}">Voir Plus</a></br>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('family_edit', {'id': family.id}) }}">Editer</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr> 
        {% endfor %}
    </div>    
    <a href="{{ path('family_kingdom_new') }}">Create new</a>
{% endblock %}
