{% extends 'base.html.twig' %}

{% block title %}FamilyKingdom index{% endblock %}

{% block body %}
    <h1>FamilyKingdom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for family_kingdom in family_kingdoms %}
            <tr>
                <td>{{ family_kingdom.id }}</td>
                <td>{{ family_kingdom.name }}</td>
                <td>{{ family_kingdom.description }}</td>
                <td>
                    <a href="{{ path('family_kingdom_show', {'id': family_kingdom.id}) }}">show</a>
                    <a href="{{ path('family_kingdom_edit', {'id': family_kingdom.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('family_kingdom_new') }}">Create new</a>
{% endblock %}
