{% extends 'base.html.twig' %}

{% block title %}{{ family_kingdom.name}}{% endblock %}

{% block body %}
    <h1>{{ family_kingdom.name}}</h1>
    <div class="container-card-show"> 

        <div class="card" style="width: 50%; ">
            <img class="card-img-top" src="{{family_kingdom.picture}}" alt="Card image cap">
            <div class="card-body">
                <h5>Description:</h5>
                <p>{{ family_kingdom.description }}</p>
            {% for family in family_kingdom.families %}
                <h5>Maitre des lieux:</h5>
                <p>Maison {{ family.name}} </p>
            {% endfor %}
            </div>
                <div class="button">
                <a href="{{ path('family_kingdom_edit', {'id': family_kingdom.id}) }}" class="btn btn-primary">Editer</a>
                <a href="{{ path('family_kingdom_delete', {'id': family_kingdom.id} ) }}" class="btn btn-primary">{{ include('family_kingdom/_delete_form.html.twig') }}</a>
                <div>
            </div>
        </div>

{% endblock %}
