{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}
    <h1>Familles</h1>
    <div class="container-card">
        {% for family in families %}
            <div class="card">
                <img style="height: 50vh;width : 100%; margin-top:0rem;" src="{{ family.picture}}" alt="">
                <div class="card-body">
                    <h1 class="card-title">Maison </br>{{ family.name }}</h1><a class="more" href="{{ path('family_show', {'id': family.id}) }}">Voir Plus</a></br>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('family_edit', {'id': family.id}) }}">Editer</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <a href="{{ path('family_new') }}">Create new</a>
{% endblock %}
