{% extends 'base.html.twig' %}

{% block title %}Famille {{ family.name }}{% endblock %}

{% block body %}
    <h1>Famille {{ family.name }}</h1>
  <div class="container-card-show"> 

        <div class="card" style="width: 70%; ">
            <img class="card-img-top" src="{{ family.picture}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{ family.name }}</h3>

                <p class="card-text">{{ family.description }}</p> 
                <div class="container-list">
                <ul>
                <h5>Membres de la famille:</h5>
                <div class="container-card-person">
                  {% for person in family.people %}
                    <div class="card">
                    <img style="height: 30vh;width : 100%; margin-top:0rem;" src="{{ person.picture}}" alt="">
                <div class="card-body">
                    <a class="more" href="{{ path('person_show', {'id': person.id}) }}">{{person.firstname}} {{ person.lastname }}</a></br>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
                 
                      {% for person in family.people %}
                   
                    
                {% else %}
                    <li>Aucun membre à afficher</li>
                {% endfor %}
                </ul>
                </div>
                <div class="button">
                <a href="{{ path('family_index') }}" class="btn btn-primary">Retour</a>
                <a href="{{ path('family_edit', {'id': family.id}) }}" class="btn btn-primary">Editer</a>
                <a href="{{ path('family_delete', {'id': family.id} ) }}" class="btn btn-primary">{{ include('family/_delete_form.html.twig') }}</a>
                <div>
            </div>
        </div>
    </div>   

{% endblock %}
