{% extends 'base.html.twig' %}

{% block title %}{{ ticket.name}}{% endblock %}

{% block body %}
    <h1>{{ ticket.name}}</h1>
    <div class="card mb-3">
            <img src="{{ ticket.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ ticket.name }}</h5>
            <p class="card-text">Prix: {{ ticket.price }} Euros</p>
            <p class="card-text"> Date: {{ ticket.date ? ticket.date|date('d-m-Y') : '' }}</p>
            <h5>{{ ticket.description }}</h5>
        </div>
        <div class="button">

                <a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="btn btn-primary">Editer</a>
                <a href="{{ path('ticket_delete', {'id': ticket.id} ) }}" class="btn btn-primary">{{ include('ticket/_delete_form.html.twig') }}</a>
                
        </div>
    </div>

{% endblock %}
