{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}
    <h1>Personnages</h1>
    <div class="container-card">
        {% for person in people %}
        <div class="card">
                <img style="height: 50vh;width : 100%; margin-top:0rem;" src="{{ person.picture}}" alt="">
                <div class="card-body">
                    <h1 class="card-title">{{person.firstname}}</br>{{ person.lastname }}</h1><a class="more" href="{{ path('person_show', {'id': person.id}) }}">Voir Plus</a></br>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('person_edit', {'id': person.id}) }}">Editer</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <a href="{{ path('person_new') }}">Create new</a>
{% endblock %}
