{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>{{ person.firstname }} {{ person.lastname}}</h1>
       <div class="container-card-show"> 

        <div class="card" style="width: 50%; ">
            <img class="card-img-top" src="{{person.picture}}" alt="Card image cap">
            <div class="card-body">
                <h5>Date de naissance:</h5>
                <p>{{ person.BirthDate ? person.BirthDate|date('d-m-Y') : '' }}</p> 
                <h5>Role:</h5>
                <p>{{ person.role }}</p> 
            </div>
                <div class="button">

                <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-primary">Editer</a>
                <a href="{{ path('person_delete', {'id': person.id} ) }}" class="btn btn-primary">{{ include('person/_delete_form.html.twig') }}</a>
                <div>
            </div>
        </div>
    </div>          
{% endblock %}
